/* 
===============================================================
                    HEADER NAVIGATION
===============================================================
*/

.header-hero {
  max-width: 100%;
  max-height: 100vh;
  background-image: linear-gradient(
      to right top,
      rgba(0, 0, 0, 0.027) 70%,
      rgb(0, 0, 0)
    ),
    linear-gradient(
      to left top,
      rgba(0, 0, 0, 0.007) 92%,
      rgba(207, 236, 236, 0.822)
    ),
    url(/img/heromax-overlay.webp);
  background-size: cover;
}

.logo {
  height: 2rem;
  cursor: pointer;
}

.header {
  padding: 0 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  font-size: 2rem;
  color: #e8e6ee;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.nav-cta:link,
.nav-cta:visited {
  padding: 1rem 2rem;
  border-radius: 9px;
  background-color: #cf711f;
  color: #e8e6ee;
}

.nav-cta:hover,
.nav-cta:active {
  background-color: #e67e22;
}

.sticky .header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: linear-gradient(
    135deg,
    #fff 0%,
    5%,
    rgba(255, 255, 255, 0.05) 20%
  );
  box-shadow: 0 5px 20px 0 #1a1a2e;
  backdrop-filter: blur(100px);
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.05s;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}
/* 
Making mobile navigation 
*/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #5f5f6d;
}
.icon-mobile-nav[name="menu-outline"] {
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* 
===============================================================
                    HERO SECTION
===============================================================
*/
.section-hero {
  padding: 9.6rem;
  height: 100%;
}

.hero {
  height: 100%;
  margin: 0 auto;
  max-width: 130rem;
  padding: 0 3.2rem;
  text-align: center;
  /* display: flex;
  flex-direction: column; */
}

.hero-description {
  padding: 0 6.4rem;
  font-size: 3.2rem;
  line-height: 1.6;
  margin-bottom: 6.4rem;
  color: #e8e6ee;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 9px;
  transition: all 0.3s;
  padding: 1.4rem 2.8rem;
}
.btn--full:link,
.btn--full:visited {
  background-color: #cf711f;
  color: #e8e6ee;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #1a1a2e;
  color: #e8e6ee;
}

.btn--full:hover,
.btn--full:active {
  background-color: #e67e22;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #313143;
}

.delivered-meals {
  display: flex;
  align-items: center;
  margin-top: 9.6rem;
  justify-content: center;
  gap: 2.4rem;
}

.delivered-imgs img {
  border-radius: 50%;
  width: 4.8rem;
  height: 4.8rem;
  border: 1px solid #e8e6ee;
  /* border: 1px solid #1a1a2e; */
  box-shadow: 0 0 4px 3px #1a1a2e;
  /* box-shadow: 0 0 4px 2px #e8e6ee; */
  margin-right: -0.8rem;
}

.delivered-text {
  font-size: 2rem;
  font-weight: 500;
}
.delivered-text span {
  font-weight: 700;
  color: #cf711f;
}

/* 
===============================================================
                    FEATURED IN SECTION
===============================================================
*/

.section-featured-in {
  padding: 4.8rem 0 3.2rem 0;
  /* background-image: url(/img/mesh-gradient.png); */
  /* background-color: #16213e; */
}

.heading-featured-in {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  filter: brightness(0);
  opacity: 85%;
}

.logos {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 45%;
}

/* 
===============================================================
                    SECTION HOW
===============================================================
*/

.mesh-gradient-original {
  background-image: url(/img/mesh.webp);
}

.section-how {
  padding: 9.6rem 0 12.8rem 0;
  position: relative;
}

.step-number {
  font-size: 8.6rem;
  color: #a199b9;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 2rem;
  line-height: 1.6;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
}

.img-container {
  height: 440px;
  width: 220px;
  transform: rotate(-22deg) skew(15deg);
  background: #1a1a2e;
  border-radius: 30px;
  /* transition: all 0.4s; */
  /* margin-top: 12rem; */

  position: relative;
}

.step-img-special {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.img-container:hover .step-img-special:nth-child(3) {
  transform: translate(6rem, -6rem);
  opacity: 1;
}
.img-container:hover .step-img-special:nth-child(2) {
  transform: translate(4rem, -4rem);
  opacity: 0.8;
}
.img-container:hover .step-img-special:nth-child(1) {
  transform: translate(2rem, -2rem);
  opacity: 0.6;
}

/* 
===============================================================
                    SECTION MEALS
===============================================================
*/

.section-meals {
  position: relative;
  background: #1a1a2e;
  /* color:#d0ccdc; */
  padding: 9.6rem;
}
.containerC {
  margin: 0 auto;
  max-width: 120rem;
  transform-style: preserve-3d;
  perspective: 700px;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.4rem;
  transform: scale(1);
  margin-bottom: 12.8rem;
}
/* .content {
  position: relative;
  transform: scale(1);
} */

.containerC:hover .box {
  transform: rotateY(25deg);
}
.containerC .box:hover {
  transform: rotateY(0) scale(1.2);
}
.containerC .box:hover ~ .box {
  transform: rotateY(-25deg);
}

.box {
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.4s;
  height: 30rem;
  width: 30rem;
  overflow: hidden;
  padding: 4rem 2.4rem 2.4rem 4.8rem;
  border-radius: 1.2rem;
}

.imgBx {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* z-index: -999; */
}
.imgBx::after {
  content: "";
  background: linear-gradient(to top, #1a1a2e, #16213e);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: 1; */
  opacity: 0;
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.containerC .box:hover .imgBx::after {
  opacity: 0.69;
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meal-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 24px;

  transform: translateY(40rem);
  transition: transform 0.4s;
  transition-delay: 0.15s;
}

.box:hover .meal-title {
  transform: translateY(0);
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: all 0.5s;
  transition-delay: 0.15s;
  transform: translateY(40rem);
  /* making them translate to bottom */
  /* transform: translateY(30rem); */
}
.box:hover .meal-attributes {
  transform: translateY(0);
}

.meal-attribute {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  color: #e8e6ee;
}

.meal-attribute span {
  font-size: 1.8rem;
}
.meal-attribute span strong {
  font-weight: 500;
}

.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}

.meal-tags {
  display: flex;
  gap: 0.3rem;
  margin-bottom: 1.2rem;
  transition: 0.4s;
  transition-delay: 0.1s;
  transform: translateY(40rem);
}
.box:hover .meal-tags {
  transform: translateY(0);
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
  border-radius: 100px;
}
.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}
.list-item {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}
.list-icon {
  width: 4.4rem;
  height: 4.4rem;
  color: #e67e22;
}
.list-attribute {
  font-size: 2rem;
}

.see-all-recipes-btn {
  border-radius: 9px;

  position: relative;
  background: #16213e;
  color: #e8e6ee;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 1px;
  padding: 0.8rem 1.6rem;
  transition: 0.5s;
}

.see-all-recipes-btn:hover {
  letter-spacing: 2.5px;
  background: #cf711f;
  color: #cf711f;
  box-shadow: 0 0 3.5rem #cf711f;
}

.see-all-recipes-btn::before {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 9px;

  background: #1a1a2e;
}

.see-all-recipes-btn span {
  position: relative;
  z-index: 1;
}

.see-all-recipes-btn i {
  position: absolute;
  inset: 0;
  display: block;
}

.see-all-recipes-btn i::before {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 0.6rem;
  border: 0.2rem solid #cf711f;
  left: 80%;
  top: -0.35rem;
  background: #1a1a2e;
  transform: translateX(-50%);
  transition: 0.5s;
  color: #cf711f;
}
.see-all-recipes-btn:hover i::before {
  width: 2rem;
  left: 20%;
}

.see-all-recipes-btn i::after {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 0.6rem;
  border: 0.2rem solid #cf711f;
  left: 20%;
  bottom: -0.35rem;
  background: #1a1a2e;
  transition: 0.5s;
  transform: translateX(-50%);
}
.see-all-recipes-btn:hover i::after {
  width: 2rem;
  left: 80%;
}
/* 
===============================================================
                    SECTION TESTIMONIALS
===============================================================
*/

.section-testimonials {
  padding: 9.6rem;
  background-color: #1a1a2e;
}

.gallery {
  /* background: url(/img/mesh.png); */

  /* width: 35%; */
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
  margin-bottom: 8rem;
}
.imgBOX {
  overflow: hidden;
}
.imgBOX img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s;
  border-radius: 9px;
}

.imgBOX img:hover {
  transform: scale(1.2);
}

/* Trying to implement a testimonial swiper js */

.glow {
  width: 100%;
  /* background-color: #16213e; */
  border: 2px solid #16213e;
}
/* .glow--up {
  box-shadow: 0 -15px 10px 0 #e67d225e;
}
.glow--down {
  box-shadow: 0 15px 10px #e67d225e;
} */

.slide-container.slide-container {
  max-width: 130rem;
  padding: 3rem;
  margin-bottom: 3rem;
}
.slide-content {
  overflow: hidden;
  /* background-color: #1a1a2e; */
  padding: 2rem 4rem;
}

.card.card {
  border-radius: 25px;
  overflow: hidden;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-content {
  position: relative;
  padding: 2rem;
}
.card-content {
  padding: 3.2rem;
  position: relative;
  background: #a199b9;

  height: 30rem;
}

.card-image {
  position: relative;
  width: 10rem;
  height: 10rem;
  padding: 0.3rem;
  border-radius: 50%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #16213e;
}

.card-image .card-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 0.2rem solid #e8e6ee;
}

.name {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 1.8rem;
}
.description {
  font-size: 1.6rem;
  color: #333;
  text-align: center;
}

.button {
  border: none;
  color: #e8e6ee;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 9px;
  background-color: #1a1a2e;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: auto;
}
.button:hover {
  background-color: #16213e;
}

.swiper-pagination-bullet.swiper-pagination-bullet {
  background-color: #e8e6ee;
  opacity: 1;
}
.swiper-pagination-bullet-active.swiper-pagination-bullet-active {
  background-color: #cf711f;
  opacity: 1;
}
.swiper-button-next.swiper-button-next {
  /* right: 0;
  top: 50%;
  transform: translate(-50%, -50%); */
  color: #e8e6ee;
}

.swiper-button-prev.swiper-button-prev {
  /* left: 0;
  top: 50%;
  transform: translate(50%, -50%); */

  color: #d0ccdc;
}

/* Trying to implement Swiper */

/* 
===============================================================
                    SECTION Pricing
===============================================================
*/

.section-pricing {
  padding: 9.6rem;
  background-color: #1a1a2e;
}
.pricing-plan {
  border-radius: 12px;
  padding: 4.6rem;
  width: 80%;
  border: 1px solid #5f5f6d;
  border-bottom: 1px solid #5f5f6d7c;
  border-right: 1px solid #5f5f6d7c;
}
.pricing-plan--simple {
  position: relative;
  justify-self: end;
  background-color: rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(2.5px);
}
.pricing-plan--complete {
  position: relative;
  transition: all 0.5s;

  background-color: #16213e;
}
.plan-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #e67e22;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.75px;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  line-height: 1.6;
  font-size: 1.6rem;
  color: #d0ccdc;
}
.plan-list {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
  justify-content: center;
}
.plan-list-icon {
  width: 3.2rem;
  height: 3.2rem;
  color: #e67e22;
}
.pricing-plan .plan-list .list-item span {
  font-size: 1.8rem;
  color: #d0ccdc;
}
.plan-sign-up {
  margin-top: 4.8rem;
  text-align: center;
}

.special--top::before {
  transition: all 0.5s;
  position: absolute;
  content: "";
  left: 15%;
  bottom: 0;
  width: 1.8rem;
  height: 0.9rem;
  transform: translateY(50%);
  background-color: #16213e;
  border: 2px solid #e67e22;
}
.special--top::after {
  transition: all 0.5s;
  position: absolute;
  content: "";
  right: 15%;
  top: 0;
  width: 1.8rem;
  height: 0.9rem;
  transform: translateY(-50%);
  background-color: #16213e;
  border: 2px solid #e67e22;
}
.pricing-plan--complete:hover {
  transform: scale(1.0125);
  border: 1px solid #e67e22;
  box-shadow: 0 0 3.5rem #cf711f;
}
.pricing-plan--complete:hover .special--top::before {
  width: 3rem;
  left: 85%;
  transform: translate(-50%, 50%);
  /* transform: translateX(100%); */
}
.pricing-plan--complete:hover .special--top::after {
  width: 3rem;
  right: 85%;
  transform: translate(50%, -50%);
  /* transform: translateX(100%); */
}
.plan-details {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6;
}

.feature-container {
  margin: 0 auto;
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
  max-width: 120rem;
  flex-wrap: wrap;
}
.feature-card {
  height: 30rem;
  width: 30rem;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2.5px);
  border-radius: 9px;
}
.feature-content {
  padding: 8rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(255, 255, 255, 0.05);
}
.feature-title {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1.6rem;
  letter-spacing: 0.25px;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.5;
}
/* 
===============================================================
                    SECTION CTA
===============================================================
*/

.section-cta {
  padding: 9.6rem;
  background: url(/img/mesh.webp);
}

.container--form {
  margin: 0 auto;
  max-width: 120rem;
}
.grid--form {
  border-radius: 12px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 52rem;
  border: 1px solid #5f5f6d;
  border-bottom: 1px solid #5f5f6d7c;
  border-right: 1px solid #5f5f6d7c;
  box-shadow: 0 10px 25px 0 #1a1a2e;
}
.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3.2rem 4.8rem;
  align-items: center;
  color: #e8e6ee;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2.5px);
}
.form--sign-in {
  transition: all 0.4s;
}

.form--create-account {
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.4s;
}
.form-heading {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 700;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 1.6rem;
  margin-bottom: 3rem;
}
.social-icon {
  width: 2.6rem;
  height: 2.6rem;
  color: #cf711f;
}
.social-icon:hover {
  color: #e67e22;
}
.more-details-form {
  font-size: 1.6rem;
  margin-bottom: 3.6rem;
}
.form input {
  padding: 1rem 2rem;
  width: 100%;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  background-color: #5f5f6d;
  border-radius: 9px;
  border: none;
  margin-bottom: 2rem;
}
/* #5f5f6d  */

.form input::placeholder {
  color: #a199b9;
}
.password-form {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
  margin-top: 1.6rem;
  font-weight: 500;
}

.btn--form {
  display: inline-block;
  border: none;
  padding: 1rem 4rem;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 9px;
  background-color: #cf711f;
  color: inherit;
  transition: all 0.4s;
}
.btn--form-account {
  margin-top: auto;
}
.btn--form-cover-account {
  margin-top: 4.4rem;
}
.btn--form-cover-sign {
  margin-top: 4.4rem;
}

.btn--form:hover {
  background-color: #e67e22;
}

.create-account {
  position: relative;
}
.sign-in {
  position: relative;
}

/* 
    COVER
    Implementation

*/

.cover {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.2rem 4.8rem;
}
.cover-text {
  font-size: 1.6rem;
}
.cover--account {
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #1a1a2e;
  transition: all 0.4s ease-in-out;
}
.cover--sign-in {
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1a1a2e;
  transition: all 0.4s ease-in-out;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.coverall .cover--account {
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.coverall .cover--sign-in {
  transform: translate(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.coverall .form--sign-in {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.coverall .form--create-account {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: all 0.4s;
}

/* 

===============================================================
                    SECTION FOOTER
===============================================================
*/

.footer {
  border-top: 2px solid #5f5f6d;
  color: #e8e6ee;
}
.footer-first {
  background-color: #1a1a2e;

  padding: 9.6rem 0;
}

/* .footer-first {
  padding: 9.6rem 0;
  background-color: #1a1a2e;
  border-top: 2px solid #5f5f6d;
  border-bottom: 2px solid #5f5f6d;
  color: #e8e6ee;
} */
.nav-heading {
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 2.4rem;
  font-style: normal;
  font-weight: 700;
}
.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}
.nav-item:link,
.nav-item:visited {
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1.6;
  cursor: pointer;
  color: inherit;
}
.nav-item:hover,
.nav-item:active {
  color: #d0ccdc;
}

.adress-col p {
  font-size: 1.6rem;
  font-family: inherit;
  font-style: normal;
}
.contact-details {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  margin-top: 3.6rem;
}
.contact-item:link,
.contact-item:visited {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  color: inherit;
  font-size: 1.6rem;
}
.contact-item:hover,
.contact-item:active {
  color: #d0ccdc;
}
.footer-second {
  padding: 4.8rem 0;
  background-color: #1a1a2e;
}
.footer-second .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.subscribe-text {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 500;
}
.subscribe-component {
  background-color: #5f5f6d;
  border-radius: 9px;
  padding: 0.5rem;
  margin-left: 3.5rem;
}
.subscribe-input-field {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  background-color: #5f5f6d;

  border: none;
}
.subscribe-input-field::placeholder {
  color: #a199b9;
}
.subscribe-button {
  border-radius: none;
}
.footer-second .social-links {
  margin-bottom: 0;
}

.footer-third {
  padding: 4.8rem 0;
  background-color: #313143;
}
.footer-third .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  margin-right: auto;
  margin-left: auto;
  font-size: 1.4rem;
}
.mobile {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.mobile-link:link,
.mobile-link:visited {
  display: inline-block;
  text-decoration: none;
}
.mobile-img {
  display: inline-block;
  width: 4rem;
  height: 4rem;
}
